<style>
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
    </style>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
</script>
<script>
    var socket = io();

    socket.on('datareceived', function (data) {
        console.log("Data received");
        addMessage(data);
    });

    function addMessage(data) {
        $('.messages').append('<li>' + data.message + '</li>');
    }
</script>

<h3>Kafka Messages</h3>

<ul class="messages">

</ul>